.home {
  section {
    padding: 0 16.5rem;
  }

  .greetings {
    display: flex;
    background-image: url(../../assets/home/image-homepage-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .message {
      display: flex;
      flex-direction: column;
      gap: 5.3rem;
      padding-top: 5.6rem;
      margin-top: 24.3rem;
      background-color: var(--grey000);
    }

    .message__container {
      padding: 0 2.7rem;
      font-family: "Ibarra Real Nova";
      font-weight: 700;
      font-size: 5rem;
      line-height: 5rem;

      max-width: 48rem;
    }
  }
}
