html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;

  --grey900: #33323d;
  --grey200: #eaeaeb;
  --grey000: #fafafa;
  --blue700: #203a4c;
  --cian: #5fb4a2;
}
