html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;

  --grey900: #33323d;
  --grey200: #eaeaeb;
  --grey000: #fafafa;
  --blue700: #203a4c;
  --cian: #5fb4a2;
}

a {
  text-decoration: none;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}
